# git ignore for senior project


#
#To stop tracking a file that is currently tracked, use 
#		git rm --cached 
#
#
#
#
#




#this is a comment


#ignore this file
helpLinks.txt

#ignore all files in sql tables folder
sql tables/


#sql tables/gameinfo.sql


#backlog.txt


# nothing in old games folder
Games/oldGames_10_26/


#*.mp3