
/*
***		Written By: Scott Pietras
*	SP_Styles.css - Senior Project Style sheet
*	
*		
*	echo	"<link href='SP_Styles.css' rel='stylesheet' />";
*	linked in header <head>
*	
*	
*	
*	
***		
*/


/*
***		Backlog ::todo
*	
*	
*	add style for alert box to be placed in the middle of the screen and blur out the background
*	like exit intent alert
*	
*	make game container flexwrap
*	https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_flex-wrap_wrap
*	
*	
***		
*/


	body{
		color: pink;
		background-color:#68347F;
	}
	
	h6{
			color:black;
	}


	a{
			font-size: 1.5em;
	}
		
		
	a:link {
		  color: white;
		  background-color: transparent;
		  text-decoration: underline;
	}
	a:visited {
		  color: black;
		  background-color: transparent;
		  text-decoration: none;
	}
 	a:hover {
		  color: #00FF00;
		  background-color: transparent;
		  text-decoration: underline;
	} 

	a:active {
		  color: yellow;
		  background-color: transparent;
		  text-decoration: underline;
	}



	/* https://www.w3schools.com/css/css3_buttons.asp */

	/* class='anybutton'; */		/* make the curser a pointer for the whole square*/
	.anybutton{
	/* 		border-radius: 4px; */
/* 			cursor: pointer; */
	}


.menu{
	border-radius: 4px;
	
}




	/* make the buttons rounded */
	/* class='rounded'*/
	.rounded{
	/* 		border-radius: 4px; */
/* 			cursor: pointer; */

		border-radius: 4px;
		cursor: pointer;
	}




	/* make the games rounded */
	/* class='gamepics'*/
.scott{
	border-radius: 4px;
	width:250;
	height:250;
	}

