
/*
***		Written By: Scott Pietras
*	SP_Styles.css - Senior Project Style sheet
*	
*		
*	echo	"<link href='SP_Styles.css' rel='stylesheet' />";
*	linked in header <head>
*	
*	
*	
*	
***		
*/


/*
***		Backlog ::todo
*	
*	
*	add style for alert box to be placed in the middle of the screen and blur out the background
*	like exit intent alert
*	
*	make game container flexwrap
*	https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_flex-wrap_wrap
*	
*	
***		
*/


	body{
		color: pink;
		background-color:#68347F;
	}
	
	h6{
			color:black;
	}


	a{
			font-size: 1.5em;
	}
		
		
	a:link {
		  color: white;
		  background-color: transparent;
		  text-decoration: underline;
	}
	a:visited {
		  color: black;
		  background-color: transparent;
		  text-decoration: none;
	}
	a:hover {
		  color: #00FF00;
		  background-color: transparent;
		  text-decoration: underline;
	}

	a:active {
		  color: yellow;
		  background-color: transparent;
		  text-decoration: underline;
	}



	/* https://www.w3schools.com/css/css3_buttons.asp */

	/* class=anybutton */		/* make the curser a pointer for the whole square*/
	.anybutton{
			border-radius: 4px;
			cursor: pointer;
	}
	
	/* double shadow on hover */
	.anybutton:hover {
				/* double shadow on hover */
			/* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
				/* pink inset shadow */
			box-shadow: 20px 20px 50px 10px pink inset;
	}
	
	
	
	
	/* make the buttons rounded */
	/* class=rounded*/
	.rounded{
		border-radius: 4px;
	}

